body{
        background-image: url('https://wallpapercave.com/wp/wp2939910.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
 }
      
      
